@model Products

@{
    ViewData["Title"] = "DetailView";
   // Layout = "DetailView.cshtml";
}

<h1>Here is the details of the product</h1>

<div>
    @{
    <p>@Model.Name</p>
    <p>@Model.Id</p>
    <p>@Model.Price</p>
    <p>@Model.Category</p>
    }
</div>
