@{
    ViewData["Title"] = "Home Page";
}
<p>
    <a href="/Product">Products!</a>
</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href ="Home/Registration">Login here! :)</a>
</div>
